<!DOCTYPE html>

<html ng-app="SiteCountries">
<head>
    <title>@ViewBag.Title</title>
    <link rel="SHORTCUT ICON" href="~/Content/Images/favicon.ico-16x16-i11.ico" />
    <link href="~/Content/CSS/libs/bootstrap.min.css"  rel="stylesheet"/>

    <script src="~/Scripts/libs/Jquery/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/libs/BootStrap/bootstrap.min.js"></script>
    <script src="~/Scripts/libs/AngularJS/angular.min.js"></script>
</head>
<body>
